@import "tailwindcss";

@theme {
  --color-primary: #312eb5;
  --color-dark: #181818;
  --color-dark-400: rgba(255, 255, 255, 0.04);
  --color-dark-500: rgba(255, 255, 255, 0.05);
  --color-dark-600: rgba(255, 255, 255, 0.6);
}
